# Logs
logs
*.log
*.pid
*.seed
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
.vite
*.local
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!**/*.tfvars.example
!infra/terraform/environments/*.tfvars
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/*.tfplan
trust-policy.json
gha-deploy-policy.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
